
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-color: #292725;
}

.dark-mode h1{
  color: #faf1de;
}


.container {
  min-height: 100vh;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding:15px;
  position: relative;
}

.notes-list{
  display:grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.note {
  background-color: #faf1de;
  border-radius: 10px;
  padding:1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 10px #EDEDED;
  white-space: pre-wrap;
}
.dark-mode .note {
  background-color: #dbb472;
  box-shadow:
    0px 6px 10px 0px hsla(0,0%,0%,0.14), 
		0px 1px 18px 0px hsla(0,0%,0%,0.12), 
		0px 3px 5px -1px hsla(0,0%,0%,0.2);
}
.note-content{
  color:#59400d;
  font-size: 1.05rem;
}

.dark-mode .note-content {
  color:#021028;
}

.note-title{  
  font-weight: bold;
  color:#021028;
  text-align: center;
  text-transform: capitalize;
}
.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #021028;
  letter-spacing: -1px;
  font-size: 0.9rem;
}

.note-footer-date {
  font-style: italic;
}

.note-footer-options {
  font-size: 1rem;
  align-items:center;
}
.option-icon{
  padding-left: 0.5rem;
  cursor: pointer;
}

.option-icon:hover {
  color:#C8CDEE
}

.note.new {
  background-color: #dbb472;
}

.dark-mode .note.new {
  background-color: #bd8526;
}

textarea {
  border: none;
  resize: none;
  background: none;
  outline: none;
  letter-spacing: 1px;
}

::placeholder {
  color: #4d4b45;
  font-style: italic;
}


.save-btn {
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  font-size: 1rem;
  color:wheat;
  font-weight: 300;
  padding: 4px 12px ;
  border-radius: 50%;
  background: #c21d03;
  box-shadow: 0 6px rgb(44, 19, 19);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.save-btn:hover {
  background: darkred;
}
.save-btn:active {
  background-color: rgb(77, 4, 4);
  box-shadow: 0 2px rgb(26, 11, 11);
  transform: translateY(4px);
}

.search {
  display: flex;
  align-items: center;
  background-color: #EDEDED;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 2rem;
}

.dark-mode .search{
  background-color: #edededa6;
}

.search input{
  border: none;
  background-color:transparent;
  width: 50rem;
}

.search input:focus{
  outline:none;
}

.darkmode-btn {
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 1rem;
  font-family: 'Cutive Mono', monospace;
  letter-spacing: -2px;
  color: #021028;
  font-weight: 300;
  padding: 5px 10px 1px 10px;
  border-radius: 10px;
  background: #faf1de;
  box-shadow: 2px 4px #383737;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.darkmode-btn:hover {  
  background: #dbb472;  
  box-shadow: 2px 4px #706f6f;
}

.darkmode-btn:active {
  background-color: #f7bd5a;
  box-shadow: 0 2px rgb(26, 11, 11);
  transform: translateY(4px);
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  z-index: 9;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #113a1b;
  background: #d4edda;
}